<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="styleheet" href="mypage.css">
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" id="header" style="background-color: #3f3f3f">

	<div class="container-fluid" id="top-header">
	
	
	
	</div>

</nav>
